@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/PlayfairDisplay-Black-Regular.ttf') format('ttf'),
        url('/fonts/PlayfairDisplay-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/PlayfairDisplay-Bold.ttf') format('ttf'),
        url('/fonts/PlayfairDisplay-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.search-bar {
    border-bottom: 1px solid #dee2e6;
    
    background-color: #fff8e7;
}

.search_button {
    border: 1px solid #393d72;
    color: #393d72;
    font-family: 'PlayfairDisplay-Italic', bold;
    font-weight: 400;
    font-size: 17px;
}

.search_button:hover {
    background-color: #393d72;
    color: white;
}

.custom_form:focus {
    border: 2px solid #393d72;
    box-shadow: none;
    ;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .search-bar .container-fluid {
        justify-content: center !important;
    }

    .search-bar form {
        width: 100%;
        max-width: 100% !important;
    }
}

@media (min-width: 992px) {
    .me-lg-5 {
        padding-right: 65px;
    }

}

.navbar-toggler {
    color: #393d72;
}




.navbar {
    /* background-color: #ffffff; */
    background-color: #fff8e7;
    box-shadow: 0 2px 4px rgba(36, 14, 203, 0.559);
    border: 2px solid #EBECF1;
    
    animation: slide-in 3s ease-out;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-link {
    font-weight: 700;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    font-family: 'PlayfairDisplay-BoldItalic', bold;
    font-size: 21px;
    color: #393d72;

}

.navbar-nav .nav-link:hover {
    background: #5a5f9d;
    border: 1px solid #5a5f9d;
    border-right: 1px solid #5a5f9d;
    border-bottom: 1px solid #5a5f9d;
    box-shadow: 0px 3px 5px 2px #5a5f9d;
    border-radius: 10px;

    color: white;
}


.dropdown-menu {
    border: 1px solid rgb(13, 17, 17);
    box-shadow: 0 4px 8px rgba(152, 210, 17, 0.1);
    border-radius: 5px;
    padding: 0;
    min-width: 250px;
    background-color: #fff8e7;
}

.dropdown-item {
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    font-family: 'PlayfairDisplay-Italic', serif;
    font-weight: 700;
    color: #393d72;
    border: 1px solid #393d72;
    font-size: 17px;
}

.dropdown-item i {
    width: 24px;
    margin-right: 12px;
    text-align: center;
    color: #393d72;
}

.dropdown-item:hover {
    background-color: #5a5f9d;
    color: #ffffff;
}

.dropdown-item:hover i {
    color: #ffffff;
}

.auth-buttons .btn {
    margin-left: 0.5rem;
    padding: 0.375rem 1rem;
}

.btn-login {
    border: 1px solid #393d72;
    color: #393d72;
    font-family: 'PlayfairDisplay-Italic', bold;
    font-weight: 400;
    font-size: 17px;
}

.btn-login:hover {
    background-color: #393d72;
    color: white;
}

.btn-register {
    background-color: #393d72;
    color: white;
    font-family: 'PlayfairDisplay-Italic', bold;
    font-weight: 400;
    border: 1px solid #393d72;
    font-size: 17px;
}

.btn-register:hover {
    background-color: white;
    color: #393d72;
    border: 1px solid #393d72;
}

@media (max-width: 991.98px) {
    .auth-buttons {
        padding: 1rem;
        margin-top: 0.5rem;
        border-top: 1px solid rgba(10, 11, 10, 0.914);

    }

    .auth-buttons .btn {
        display: block;
        width: 100%;
        margin: 0.5rem 0;
    }


}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.2s ease;
    }

    .dropdown-submenu:hover .dropdown-menu {
        display: block;
        left: 100%;
        top: 0;
    }
}

/* Убираем стрелки */
.dropdown-toggle::after {
    display: none;
}

@keyframes slide-in {
    0% {
        left: -100%;
    }

    40% {
        left: 20px;
    }

    70% {
        left: 10px;
    }

    100% {
        left: 5px;
    }
}